body {
  margin: 0;
  padding: 0;
}

#nav-link {
  display: none;
}

.flexs {
  display: flex;
}

#space-down {
  background-image: url("./assets/Illustration.png");
  background-repeat: no-repeat;
  background-position: 100% 130%;
  padding-bottom: 100px;
  background-color: #1c1a19;
  flex-direction: column;
}

#section-bac {
  background: #fff;
  padding: 100px 0;
}

#navbar {
  height: 48px;
  background-color: #3c3a39;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}

.anc-decor {
  text-decoration: none;
}

#logo {
  height: 24px;
  top: calc(50% - 44px / 2);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#large-image {
  display: none;
}

#menu {
  width: 24px;
  height: 24px;
}

#intro {
  height: 124px;
  padding: 120px 24px 25px 24px;
}

#second-media {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#primary {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#texttwo {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 0 24px 0 24px;
  margin: 30px 0 5px 0;
}

#textthree {
  height: 123px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 0 24px 0 24px;
  margin: 0;
}

#socialmedia {
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 24px 0 24px;
}

.icons {
  padding: 8px;
}

#decor {
  position: absolute;
  left: 230px;
  top: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#heading-second {
  height: 107px;
  margin: 0 24px 52px 24px;
}

#heads {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

#sec {
  display: grid;
  grid-template-rows: 386px 386px 386px 386px 386px 386px;
  grid-gap: 24px 0;
}

.card {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 24px;
}

.other-cards {
  background-image: url("./assets/rest-card.png");
  background-repeat: no-repeat;
}

#head1 {
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.head-other {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.body-other {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#contents1 {
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.button1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

.but-other {
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  border: none;
}

.butcss {
  width: 49px;
}

.buthtm {
  width: 56px;
}

.butboot {
  width: 95px;
}

.butrub {
  width: 61px;
}

#butsee1 {
  height: 48px;
  margin-top: 10px;
}

.but-see-width {
  width: 327px;
  margin-top: 30px;
}

.but-see {
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

.description {
  margin-left: 10px;
}

#about-me {
  background-image: url("./assets/readme.png");
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-color: #1c1a19;
  padding: 40px 0 100px 0;
}

#about-tit {
  height: 79px;
  margin: 120px 24px 24px 24px;
}

#heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#text {
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 90px 24px 15px 24px;
}

#skills {
  max-height: 1241.46px;
}

#skill-list {
  flex-direction: column;
  color: #fff;
  align-items: center;
  margin-top: 150px;
}

#rec-side {
  list-style-image: url("./assets/siderec.png");
}

#rec {
  list-style-image: url("./assets/rec.png");
}

#circle {
  list-style-image: url("./assets/circle.png");
}

.skill-tit {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-list {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
  margin: 30px 0;
}

#resume-button {
  width: 161px;
  height: 48px;
  margin-left: 24px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#resume-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#firstlin {
  margin-top: 180px;
  width: 80%;
}

footer {
  background: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px;
  gap: 58px;
}

#foot-text {
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 50px;
}

form {
  max-width: 327px;
  height: 330px;
}

#form-ul {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  list-style-type: none;
}

#recent-rule {
  color: #212121;
}

#touch-but {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#touch-but:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.input {
  width: 327px;
  height: 48px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
}

textarea {
  width: 327px;
  height: 114px;
  border: none;
  background: #e5e5e5;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

@media only screen and (min-width: 768px) {
  #logo {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  #textthree {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    max-width: 566px;
    margin-top: 10px;
  }

  #texttwo {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
  }

  #hum-menu {
    display: none;
  }

  .anc-margin {
    margin-left: 150px;
  }

  #nav-link {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 150px;
    gap: 30px;
  }

  .anc-decor {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  #space-down {
    background-image: url(./assets/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-size: 40% 700px;
    background-position: 100% 120%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding-bottom: 200px;
  }

  #conts {
    display: flex;
    flex-direction: column;
    max-width: 566px;
    box-sizing: border-box;
  }

  #socialmedia {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 60px;
  }

  #heading-second {
    margin-left: 140px;
    display: flex;
    align-items: center;
  }

  #recent-rule {
    margin-left: 25px;
    width: 60%;
  }

  #card {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
  }

  #grid-card {
    row-gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #about-me {
    background-image: url("./assets/Frame.png");
    background-repeat: no-repeat;
    background-position: 100% 8%;
  }

  #skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  #form-foot {
    display: flex;
    justify-content: space-around;
  }

  #descp {
    padding: 0 20px;
    display: none;
  }

  #sec {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 435px 435px;
    grid-row-gap: 20px;
    margin: 30px 20px 0 120px;
  }

  form {
    max-width: 684px;
    flex-grow: 2;
  }

  #form-ul {
    align-items: flex-start;
    width: 100%;
  }

  #form-ul li {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .about-left {
    margin-left: 95px;
  }

  #text {
    max-width: 480px;
    margin-top: 0;
  }

  .first-card {
    background-image: url(./assets/Img\ Placeholder.png);
    display: flex;
    flex-direction: column-reverse;
  }

  .disp-but {
    display: none;
  }

  .buttons {
    margin-bottom: 15px;
  }

  .teni-img {
    background-image: url(./assets/cardimg.png);
  }

  .av-img {
    background-image: url(./assets/cardimg1.png);
  }

  #rec-image {
    display: none;
  }

  #large-image {
    display: inline;
  }

  #descp-side {
    margin-left: 10px;
  }
}
