body {
  margin: 0;
  padding: 0;
}

label {
  display: none;
}

.title {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

#dynamicPortfolio {
  margin: 0 24px 0 -5px;
}

#firstTitle {
  color: #091E42;
}

.otherTitle {
  color: #fff;
  margin: 85px 0 0 15px;
}

.paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
  margin-top: 5px;
}

#firstParagragh {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
}

.badgeStyle {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.removeCard {
  display: none;
}

#popImg {
  height: '24px';
  margin-left: 55px;
}

.popButton {
  background: #FF6B00;
  padding: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  border: none;
}

.popSize {
  width: 343px;
  height: 718px;
  padding: 16px;
  background-color: white;
  transition: transform 0.1s;
}

.firstBadge {
  border: 1px solid #8993A4;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091E42;
  padding: 10px 12px;
  margin: 0 5px;
}

.otherBadge {
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  margin: 0 0 0 10px;
}

.backCardImg {
  background-repeat: no-repeat;
  background-size: cover;
}

#cardGrid {
  display: grid;
  grid-template-columns: 375px;
  grid-row-gap: 24px;
}

#cardDeskGrid {
  grid-template-columns: 375px 375px 375px;
}

.cardSize {
  max-width: 375px;
  max-height: 568px;
  margin: 15px 24px;
}

.marginTopOther {
  margin-top: 20px;
}

.cardImages {
  background-image: url('./assets/rest-card.png');
}

#firstBtnPad {
  padding: 12px;
  margin-top: 10px;
}

.otherCardBtn {
  width: 327px;
  height: 48px;
}

.button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: #FF6B00;
  border: none;
}

#hide-mail {
  display: none;
}

#errorMessage {
  color: red;
  font-family: "Roboto", sans-serif;
}

#nav-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #3c3a39;
  transition: transform 0.1s;
}

.hideMenu {
  transform: translateY(-100%);
}

.sourceLeft {
  margin-left: 35px;
}

#hum-menu {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 2rem;
}

.displayMenu {
  transform: translateY(0);
}

.flexs {
  display: flex;
}

.blur {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.blurBack {
  position: fixed;
  top: 6%;
  left: 2%;
  z-index: 98;
}

.arrange {
  align-items: center;
  margin-bottom: 35px;
}

.popHead {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.popSec {
  margin-top: 15px;
}

.popText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#space-down {
  background-image: url("./assets/Illustration.png");
  background-repeat: no-repeat;
  background-position: 100% 130%;
  padding-bottom: 100px;
  background-color: #1c1a19;
  flex-direction: column;
}

#section-bac {
  background: #fff;
  padding: 100px 0;
}

#navbar {
  height: 48px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}

header {
  background-color: #3c3a39;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  height: 24px;
  top: calc(50% - 44px / 2);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#large-image {
  display: none;
}

#menu {
  width: 24px;
  height: 24px;
}

#intro {
  height: 124px;
  padding: 120px 24px 25px 24px;
}

#second-media {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#primary {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#texttwo {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 0 24px 0 24px;
  margin: 30px 0 5px 0;
}

#textthree {
  height: 123px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 0 24px 0 24px;
  margin: 0;
}

#socialmedia {
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 24px 0 24px;
}

.icons {
  padding: 8px;
}

#decor {
  position: absolute;
  left: 230px;
  top: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.anc-li {
  border-bottom: 2px solid #6f6c6b;
  width: 80%;
  margin: 0 0 0 30px;
  padding: 25px 0 10px 20px;
}

#margin-tops {
  margin-top: 40px;
}

.anc-decor {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  width: 100%;
}

#heading-second {
  height: 107px;
  margin: 0 24px 52px 24px;
}

#heads {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

#remMob {
  display: none;
}

.no-decor {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.button1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

.but-other {
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  border: none;
}

#butsee1 {
  height: 48px;
  margin-top: 10px;
}

.but-see-width {
  width: 327px;
  margin-top: 30px;
}

.but-see {
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#about-me {
  background-image: url("./assets/readme.png");
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-color: #1c1a19;
  padding: 40px 0 100px 0;
}

#about-tit {
  height: 79px;
  margin: 120px 24px 24px 24px;
}

#heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#text {
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 90px 24px 15px 24px;
}

#skills {
  max-height: 1241.46px;
}

#skill-list {
  flex-direction: column;
  color: #fff;
  align-items: center;
  margin-top: 150px;
}

#rec-side {
  list-style-image: url("./assets/siderec.png");
}

#rec {
  list-style-image: url("./assets/rec.png");
}

#circle {
  list-style-image: url("./assets/circle.png");
}

.skill-tit {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-list {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
  margin: 30px 0;
}

#resume-button {
  width: 161px;
  height: 48px;
  margin-left: 24px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#resume-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#firstlin {
  margin-top: 180px;
  width: 80%;
}

footer {
  background: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px;
  gap: 58px;
}

#foot-text {
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 50px;
}

form {
  max-width: 327px;
  height: 330px;
}

#form-ul {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  list-style-type: none;
}

#recent-rule {
  color: #212121;
}

#touch-but {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#touch-but:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.input {
  width: 327px;
  height: 48px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
}

textarea {
  width: 327px;
  height: 114px;
  border: none;
  background: #e5e5e5;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.not-displaying {
  display: none;
}

#form-foot {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  #logo {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  #textthree {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    max-width: 566px;
    margin-top: 10px;
  }

  #remDesk {
    display: none;
  }

  #remMob {
    display: inline;
  }

  #texttwo {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
  }

  #hum-menu {
    display: none;
  }

  #hide-mail {
    display: inline;
  }

  .anc-margin {
    margin-left: 150px;
    font-family: "Inter", sans-serif;
    font-style: normal;
  }

  #nav-link {
    position: static;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 150px;
    gap: 30px;
    transform: translateY(0);
  }

  .anc-decor {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-left: auto;
  }

  .anc-li {
    border-bottom: none;
    margin: auto;
    padding: 0;
  }

  #space-down {
    background-image: url(./assets/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-size: 40% 700px;
    background-position: 100% 120%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding-bottom: 200px;
  }

  .popSize {
    width: 1156px;
    height: 631px;
  }

  #conts {
    display: flex;
    flex-direction: column;
    max-width: 566px;
    box-sizing: border-box;
  }

  #socialmedia {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 60px;
  }

  .popSec {
    display: flex;
  }

  #popImg {
    margin-left: 500px;
  }

  #heading-second {
    margin-left: 140px;
    display: flex;
    align-items: center;
  }

  #recent-rule {
    margin-left: 25px;
    width: 60%;
  }

  #margin-tops {
    margin-top: auto;
  }

  #about-me {
    background-image: url("./assets/Frame.png");
    background-repeat: no-repeat;
    background-position: 100% 8%;
  }

  #skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  #form-foot {
    display: flex;
    justify-content: space-around;
  }

  form {
    max-width: 684px;
    flex-grow: 2;
  }

  #form-ul {
    align-items: flex-start;
    width: 100%;
  }

  .cardSize {
    display: flex;
  }

  .spaceLefts {
    margin-left: 15px;
  }

  #form-ul li {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .about-left {
    margin-left: 95px;
  }

  #text {
    max-width: 480px;
    margin-top: 0;
  }

  .disp-but {
    display: none;
  }

  .buttons {
    margin-bottom: 15px;
  }

  #rec-image {
    display: none;
  }

  #large-image {
    display: inline;
  }

  #cardGrid {
    display: grid;
    grid-template-columns: 375px 375px 375px;
  }
}